.edit-column {
  width: 20%;
}

.edit-column button:first-child {
  margin-right: 12px;
}

.sort-by-title {
  margin-right: 10px;
}

.sort-by-select {
  padding: 5px 10px;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main-table td {
  text-align: center;
}

.item-not-edit input {
  border: 1px solid transparent;
  background: transparent;
}

.close-icon-wrapper {
  position: absolute;
  right: -20px;
  top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgb(31, 119, 233);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  width: 30px;
  height: 30px;
  fill: #fff;
}
